.page-home {

  .pokemon-card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(170px, 1fr));
    grid-gap: 20px;

    .pokemon-card {
      border-radius: 10px;
      padding: 15px;
      display: flex;
      flex-direction: column;
      height: 180px;
      border: 1px solid rgba(0, 0, 0, 0.15);
      justify-content: space-between;
      cursor: pointer;
      box-shadow: 3px 2px 8px -5px rgba(0, 0, 0, 0.15);

      img {
        height: 65%;
        width: auto;
        margin-inline: auto;
      }

      .pokemon-types {
        padding: 2px;
      }

    }
  }

}
