.page-home {

  .search-container {
    width: 100%;
    display: flex;
    gap: 15px;
    height: 40px;
    margin-bottom: 30px;

    input {
      flex: 1 1;
      height: 100%;
      border-radius: 5px;
      padding: 5px 15px;
      background-color: white;
      border: 1px solid rgba(0, 0, 0, 0.15);

      &:focus-visible {
        border: 1px solid rgba(0, 0, 0, 0.3);
        outline: none;
      }
    }

    button {
      height: 100%;
      border-radius: 5px;
      padding: 5px 15px;
      background-color: white;
      border: 1px solid rgba(0, 0, 0, 0.15);
    }

  }

  .page-body.not-found {
    height: calc(100% - 110px) !important;
  }

}
