<ion-content>

  <app-page-header></app-page-header>

  <div class="page page-home">

    <div class="page-body">

      <div class="search-container">
        <input #searchInput type="text" placeholder="Pesquisar pelo nome ou índice do pokémon">
        <button class="earch-btn" (click)="searchPokemon()">Pesquisar</button>
      </div>

      <div class="pokemon-card-list">

        <div class="pokemon-card" *ngFor="let item of pokemonList.pokemonData" (click)="navigateurl(item)">

          <div class="pokemon-description d-flex">
            <span class="mr-auto weight-5">{{ item.name[0].toUpperCase() + item.name.slice(1)}}</span>
            <small># {{item.order}}</small>
            <!-- <p>{{item}}</p> -->
          </div>

          <img class="pokemon-photo" src="{{item.photo}}">

          <div class="pokemon-types">

            <div class="type-card" *ngFor="let type of item.types" [style.background-color]="pokemonType?.[type]">
              {{type.toUpperCase()}}
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

  <ion-infinite-scroll *ngIf="pokemonList.hasMorePages" (ionInfinite)="getNextPage()">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
